################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BinarySearchTree/FileContentIndex/4891c3cb-a658-4864-ab6a-a8794cf450d6.vsidx
/.vs/BinarySearchTree/v17/.suo
/.vs/BinarySearchTree/v17/.futdcache.v2
/.vs/BinarySearchTree/FileContentIndex/eb51e972-c32d-40db-af58-b0c0d232359f.vsidx
/.vs/BinarySearchTree/DesignTimeBuild/.dtbcache.v2
/.vs/BinarySearchTree/FileContentIndex/a016c937-e637-4093-9922-c25bf54dd52e.vsidx
/.vs/BinarySearchTree/FileContentIndex/af63e341-e08f-4f77-8da4-3e3fc3a43b98.vsidx
/.vs/BinarySearchTree/FileContentIndex
/.vs/BinarySearchTree/DesignTimeBuild/.dtbcache.v2
/.vs/BinarySearchTree/v17/.futdcache.v2
/.vs/BinarySearchTree/DesignTimeBuild/.dtbcache.v2
/.vs/BinarySearchTree/v17/.futdcache.v2
/.vs/BinarySearchTree/v17/.suo
/.vs/ProjectEvaluation/binarysearchtree.metadata.v6.1
/.vs/ProjectEvaluation/binarysearchtree.projects.v6.1
/bin/Debug/net5.0/BinarySearchTree.dll
/bin/Debug/net5.0/BinarySearchTree.pdb
/obj/Debug/net5.0/ref/BinarySearchTree.dll
/obj/Debug/net5.0/refint/BinarySearchTree.dll
/obj/Debug/net5.0/BinarySearchTree.dll
/obj/Debug/net5.0/BinarySearchTree.pdb
/.vs/BinarySearchTree/v17/TestStore/0/000.testlog
/.vs/BinarySearchTree/v17/TestStore/0/testlog.manifest
/.vs/BinarySearchTree/v17
/BinarySearchTree.sln.DotSettings.user
